@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body { 
	background-color: #222831;
	font-family: 'Source Code Pro', monospace;
	color : white;
}

/* --- FORMS TAILDWINDCSS STYLES --- */

form { 
	@apply  w-4/5 lg:w-1/3 mt-10 text-white bg-box p-7 rounded-lg shadow-lg;
}
form input { 
	@apply   w-full focus:outline-none focus:border-2 focus:border-theme bg-bg p-2 rounded-md shadow-inner mb-5;
}
form button { 
	@apply w-full text-bg bg-theme font-bold py-2 px-4 rounded-md hover:bg-bg hover:text-theme;
}
